.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8); // Fondo negro semitransparente
}

.imageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/FondoHome.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  z-index: -1;
}

.main {
  position: relative;
  z-index: 2;
  padding: 2rem;
  margin-top: 1rem;
  color: #ffffff;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background: rgba(0, 0, 0, 0.5); // Fondo oscuro para resaltar el texto
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.ctaButton {
  background-color: #46C432; /* Verde */
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.ctaButton:hover {
  background-color: #39a02a;
}

.benefits {
  display: flex;
  justify-content: space-around;
}

.benefit {
  text-align: center;
  max-width: 300px;
}

.benefit img {
  width: 60px;
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.testimonial {
  text-align: center;
  max-width: 300px;
}

.testimonial img {
  width: 190px;
  height: 170px;
  border-radius: 5%;
  margin-bottom: 20px;
}

.ctaSecondary {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 50px 20px;
}

.ctaSecondary h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
