// src/views/Home/Home.module.scss
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color:  #181c25;
  min-height: 100vh; // Ocupa al menos la altura completa de la ventana
  margin: 0;
  min-width: 100vw; // Ocupa al menos el ancho completo de la ventana
  }

  .header {
    flex-shrink: 0; // Para que el header no se reduzca
  }

  .main {
    flex: 1; // Esto permite que el contenido principal ocupe todo el espacio restante
    padding: 20px;
  }

  .footer {
    flex-shrink: 0; // Para que el footer no se reduzca
  }
  
  .mainContent {
    flex: 1;
    padding: 2rem;
    text-align: center;
    color: #ffffff; /* Tu color de texto */
  }
  