/* Estilo del logo de la empresa como fondo */
.companyLogo {
  width: 190px;
  height: 190px;
  background-image: url('../../assets/FitFusionLogoBlack.png'); /* Ruta relativa al logo de la empresa */
  background-size: contain; /* Asegura que el logo se ajuste sin distorsión */
  background-repeat: no-repeat; /* Evita que el logo se repita */
  background-position: center; /* Centra el logo en el contenedor */
  margin-bottom: 1rem; /* Espacio debajo del logo */
}

/* Estilo del subtítulo */
.subtitle {
  font-size: 1.2rem;
  color: #aaa;
  font-style: italic; /* Fuente en cursiva */
  margin-bottom: 1.5rem;
}

.Ptitle {
  font-size: 2rem;
  color: #ffffff;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}


/* Texto "O inicia sesión con" */
.orText {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}

/* Enlace de registro */
.registerLink {
  margin-top: 1rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #bbb;
}

.registerLink a {
  color: #32cd32;
  text-decoration: none;
}

.registerLink a:hover {
  text-decoration: underline;
}


.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

/* Contenedor del formulario */
.formContainer {
  flex: 0.618; /* Proporción original */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  color: #fff;

  @media (max-width: 802px) {
    flex: 1; /* Ocupará todo el ancho disponible */
    padding: 1rem;
  }
}

/* Campos de entrada */
.inputField {
  margin-top: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  border-width: 1px;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;

  @media (max-width: 802px) {
    width: 95%; /* Se asegura que ocupen todo el ancho */
  }
}

/* Contenedor de la imagen lateral */
.imageContainer {
  flex: 1; /* Proporción original */
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 802px) {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }
}

/* Imagen grande de fondo */
.largeImage {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/ImageBackground.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 802px) {
    height: auto; /* Oculta la imagen lateral en pantallas pequeñas */
  }
}

